<div class="card cst-card">
        <app-csvheader [wellCount1]=wellCount (CreateCross)="getData($event,CREATE)" ></app-csvheader>
        <div class="card-body cst-card-body"  id="csv-section" style="display:none">

                <div class="cst-card-body-container csv-section" >
                        <app-wellmetadata *ngIf="loadDataTag" [wellCount2]=wellCount [wellinfo]=wellnames
                                [wellnumber]=wellnumber [UWI]=UWI [trackCount]=trackCount [wellOrder]=wellOrder
                                [curveListData]=curveList1 [lasRasterFlag]=lasRasterFlag
                                [SelectedCurveList]=SelectedCurveList [trackAndSelectedCurve]=trackAndSelectedCurve
                                [SVGWidth]=SVGWidth [ProductTypeList]=ProductTypeList >
                        </app-wellmetadata>

                </div>
                <app-csvtools (LoadCross)="getData($event,LOAD)"></app-csvtools>
        </div>
        <div class="card-body cst-card-body map-section" id="map-section" >

                <div class="cst-card-body-container">
                        <div class="map-section">
                                <app-csvmap></app-csvmap>
                        </div>

                </div>

        </div>
</div>