<div class="card cst-card">
        <app-csvheader></app-csvheader>
    <div class="card-body cst-card-body">
        <div class="cst-card-body-container">
                <!-- <app-csvloader></app-csvloader>
                <app-las></app-las> -->
                <!-- <app-opencsv></app-opencsv>
                <app-raster></app-raster>
                <app-wellmetadata></app-wellmetadata> -->
                <svg class="scrolling-wrapper">

                        <g class="card">
                            <rect width="300" height="450" fill="white"></rect>
                        </g>
                        <g class="card">
                            <rect width="300" height="450" fill="white" x="320"></rect>
                        </g>
                        <g class="card">
                                <rect width="300" height="450" fill="white" x="640"></rect>
                        </g>
                        <g class="card">
                                <rect width="300" height="450" fill="white" x="960"></rect>
                        </g>
                        <g class="card">
                                <rect width="300" height="450" fill="white" x="1280"></rect>
                        </g>
                        <g class="card"></g>
                        <g class="card"></g>
                        <g class="card"></g>
                        <g class="card"></g>
                </svg>
        </div>
        <app-csvtools></app-csvtools>
    </div>
</div>
<!-- 
<app-csvheader></app-csvheader>
<app-csvloader></app-csvloader>
<app-csvtools></app-csvtools>
<app-las></app-las>
<app-opencsv></app-opencsv>
<app-raster></app-raster>
<app-wellmetadata></app-wellmetadata> -->