:root {
    --gutter: 20px;
  }
  
.cst-card{
    border:none;
}
.cst-card-body{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
}
.cst-card-body-container{
    width: calc(100%);
    overflow-y:auto;
    height: calc(100vh - 85px);
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ccc;
}