<div class="card cst-card">
        <app-csvheader [wellCount1]= wellCount></app-csvheader>
    <div class="card-body cst-card-body">
        <div class="cst-card-body-container">
                <!-- <app-csvloader></app-csvloader>
                <app-las></app-las> -->
                <!-- <app-opencsv></app-opencsv>
                <app-raster></app-raster>
                <app-wellmetadata></app-wellmetadata> -->
                <app-wellmetadata  
                [wellCount2]= wellCount 
                [wellinfo]=wellnames 
                [wellnumber]=wellnumber 
                [UWI]=UWI
                [trackorder]=trackorder 
                [wellOrder]=wellOrder>
                
               </app-wellmetadata>
        </div>
        <app-csvtools></app-csvtools>
    </div>
</div>
<!-- 
<app-csvheader></app-csvheader>
<app-csvloader></app-csvloader>
<app-csvtools></app-csvtools>
<app-las></app-las>
<app-opencsv></app-opencsv>
<app-raster></app-raster>
<app-wellmetadata></app-wellmetadata> -->