<div class="card-header cst-card-header">
    <div class="float-left card-header-title">
            <img src="assets/images/TGS_logo_white_vector_1.svg" >Cross Section Tool
    </div>
    <div class="header-toggle">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" id ="mapbtn" class="btn btn-secondary activebtn" (click)="onChooseview($event)">
                 <img src="assets/icons/Map_View_White_Icon.svg" >
                 <img src="assets/icons/Map_View_Blue_Icon.svg"> Map View                    
                </button>
                <button type="button" id ="csvbtn" class="btn btn-secondary" (click)="onChooseview($event)">
                  <img src="assets/icons/Cross_Section_View_White_Icon.svg">
                  <img src="assets/icons/Cross_Section_View_Blue_Icon.svg"> Cross Section View
                </button>
            </div>
        </div>
    <div class="float-right card-header-title">
      Added {{wellCount1}} Wells to cross section table
    </div>
   
</div>
