.cst-card-header{
    background-color: #3E3E3E;
    color: #E7E7E7;
    line-height: 27px;
    font-size:14px;
    height: 40px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-family: "DINOT";

    .card-header-title{
        margin-top: 6px;
        img{
            height: 24px;
            position: relative;
            margin-top: -10px;
            margin-right: 10px;
        }
    }

    .cst-card-header-badge{
        margin-left: 10px;
        color: #00AAAB;
        background-color: #fff;
        padding: 5px 10px;
        font-weight: bold;
        position: relative;
        top:-1px;
    }
    i{
        padding-left: 15px;
        font-size: 20px;
        cursor: pointer;
    }
    .header-toggle{
         float: left;
        left:25%;
        position: relative;
        margin-top: 1px !important;
        margin-bottom: 1px !important;
        .btn-group{
            .btn-secondary{
            background-color: #fff;
            width: 194px;
            color: #00AAAB;
            font-family: "DINOT";
            font-size: 14px;
            img{
                height: 20px;
                display: none;
            }
            img:last-child{
                display: inline !important;
            }
            }
        }
        .btn-secondary{
            background-color: #fff;
            width: 194px;
            color: #00AAAB;
            img{
                height: 20px;
              display: none;
            }
            img:last-child{
                display: inline !important;
            }
            img:first-child{
                display: none !important;
            }
            }
        .activebtn{
            margin-right:1px;
            border-right: solid 1px #00AAAB !important;
            background-color: #00AAAB !important;
            color: #FFFFFF !important;
            img:first-child{
                display: inline !important;
            }
            img:last-child{
                display: none  !important;
            }
        }
    }
}
