    .cst-card-header{
        background-color: #00AAAB;
        color: #fff;
        font-weight: bold;
        padding-top: 7px;
        padding-bottom: 3px;
        line-height: 27px;

        .cst-card-header-badge{
            margin-left: 10px;
            color: #00AAAB;
            background-color: #fff;
            padding: 5px 10px;
            font-weight: bold;
            position: relative;
            top:-1px;
        }
        i{
            padding-left: 15px;
            font-size: 20px;
            cursor: pointer;
        }
    }
