<div id="map" class="map">

  <!-- <div id="HomeButton"></div> -->

  <div>

    <ul id="dynamic-list"
      style="position: absolute;z-index: 999;background-color:cornflowerblue; top:200px; left:25px; border: black"></ul>

  </div>

  <div id="topbar" style="position: absolute;z-index: 999;">

    <button class="action-button esri-icon-polyline" id="polygonButton" type="button" title="Select wells"
      (click)="initWellSelection()">

    </button>

    <button class="action-button remove-btn esri-icon-trash" id="resetBtn" type="button" title="Remove all wells"
      (click)="removeAllWells()">

    </button>

    <button id="btnUpdateWellOrder" style="height:20px; width:30px ;display:none" type="button" title="Change Order"></button>
    <button id="btnSelectAllWells" style="height:26px;line-height: 10px;display:none;" type="button" title="Change Order">select ALL</button>
    
  </div>

  <div id="wellmappane" class="csv-modal-body example-list-box" cdkDrag style="position: absolute;top:100px;right:50px;z-index:100;display:none;">

    <table class="table table-striped table-bordered">

      <thead class="thead-dark" >

        <tr>

          <th>Sequence of selected wells</th>

        </tr>

      </thead>

      <tbody cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">



        <tr class="example-box" *ngFor="let Well of Wells" cdkDrag>

          <td>{{Well.SeqNo}}</td>

          <td>{{Well.UWI}}</td>

          <td>
            <a (click)="deletewell(Well)" style="cursor:pointer;color:#00AAAB;">
              <i _ngcontent-usn-c2="" aria-hidden="true" class="fa fa-times"></i>
          </a>
          </td>

        </tr>



      </tbody>

    </table>

  </div>

</div>