.well-cross-section-tool {
  padding-left: 20px;
  padding-right: 20px;
  .panel-heading {
    font-size: 18px;
    color: #F9A01B;
    border-bottom: solid 1px #00000029;
    line-height: 40px;
    font-family: "DINOT-Bold";

    i {
      font-size: 20px;
      float: right;
      color: #00aaab;
      margin-top: 15px;
    }
  }
  .panel-heading.collapsed .fa-chevron-down,
  .panel-heading .fa-chevron-right {
    display: none;
  }

  .panel-heading.collapsed .fa-chevron-right,
  .panel-heading .fa-chevron-down {
    display: inline-block;
  }

  i.fa {
    cursor: pointer;
    margin-right: 5px;
    float: right;
  }

  .collapsed ~ .panel-body {
    padding: 0;
  }

  .collapse .toolpanel {
    h3 {
      font-size: 16px;
      font-family: "DINOT-Bold";
      border-bottom: solid 1px #00000029;
      line-height: 30px;
      color: #4E4E4E;
    }
    h2 {
      font-size: 12px;
      font-weight: bold;
      line-height: 25px;
      color: #4E4E4E;
      margin-bottom: 0px;

      img{
        height: 15px;
      }

    }
    .toolpanel-group {
      width: 100%;

      select {
        width: 100%;
        margin-top: 10px;
      }
      .btn-secondary {
        border: solid 1px #00aaab;
        color: #00aaab;
        background: none !important;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 12px;
      }
      .btn-secondary.active {
        color: #fff;
        background: #00aaab !important;
      }
    }
    .toolpanel-group-list {
      padding-left: 0px;
      li {
        color: #00aaab;
        font-size: 12px;
        display: block;
        width: auto; 
        font-family: "DINOT-Medium";
      }
    }
    .btn-pane {
      text-align: right;
      .btn-secondary {
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 14px;
        margin-top: 10px;
      }
      .btn-secondary.active {
        margin-left: 10px;
      }
    }
  }
  .btn-danger.active {
    background-color: #aa0000;
   
  }
  .btn-secondary.active {
    background-color: #00aaab;
  }
}
