<div id="map" class="map">
    <!-- <div id="HomeButton1"></div> -->
    <div>
      <ul id="dynamic-list" style="position: absolute;z-index: 999;background-color:cornflowerblue; top:200px; left:25px; border: black"></ul>
    </div>
    <div id="topbar" style="position: absolute;z-index: 999;">
      <button class="action-button esri-icon-polyline" id="polygonButton" type="button" title="Select wells"
        (click)="initWellSelection()">
      </button>
      <button class="action-button remove-btn esri-icon-trash" id="resetBtn" type="button" title="Remove all wells"
        (click)="removeAllWells()">
      </button>
      <button id = "btnUpdateWellOrder" style="height:20px; width:30px" type="button" title="Change Order"></button>
    </div>
  </div>
  