.well-cross-section-tool{
    padding-left: 20px;
    padding-right: 20px;
    .panel-heading{
            font-size: 18px;
            font-weight: bold;
            color: #F9A01F;
            border-bottom: solid 1px #ccc;
            line-height: 40px;
            
            i{
                font-size: 20px;
                float: right;
                color: #00AAAB;
                margin-top: 15px;
            }
       
    }
    .panel-heading.collapsed .fa-chevron-down,
    .panel-heading .fa-chevron-right {
    display: none;
    }

    .panel-heading.collapsed .fa-chevron-right,
    .panel-heading .fa-chevron-down {
    display: inline-block;
    }

    i.fa {
    cursor: pointer;
    margin-right: 5px;
    float:right;
    }

    .collapsed ~ .panel-body {
    padding: 0;
   
    
    }


    .collapse .toolpanel{
        h3{
            font-size: 16px;
            font-weight: bold;
            border-bottom: solid 1px #ccc;
            line-height: 30px;
            color: #343a40;
        }
        h2{
            font-size: 12px;
            font-weight: bold;
            line-height: 25px;
            color: #343a40;
            margin-bottom: 0px;
        }
        .toolpanel-group{
            width: 100%;

            select{
                width: 100%;
                margin-top: 10px;
            }
            .btn-secondary{
                border: solid 1px #00AAAB;
                color: #00AAAB;
                background: none !important;
                padding-top: 4px;
                padding-bottom: 4px;
                font-size: 12px;
            }
            .btn-secondary.active{
                color: #fff;
                background: #00AAAB !important;
            }
        }
        .toolpanel-group-list{
            padding-left: 0px;
            li{
                color: #00AAAB;
                font-size: 12px;
                display: block;
                width: auto;
                font-weight: bold;
            }
        }
        .btn-pane{
            text-align: right;
            .btn-secondary{
                padding-top: 8px;
                padding-bottom: 8px;
                font-size: 14px;
                margin-top: 10px;
            }
            .btn-secondary.active{
                margin-left:10px;
            }

        }
    }
   
}